<ion-view>
    <ion-content class="has-header">
        <h2>For The Record (optional)</h2>
        <h4>Incarnations</h4>
        <label ng-repeat="boss in $ctrl.bosses" class="item-input-wrapper">
            <input ng-model="$ctrl.data.bossNames[boss]" type="text" placeholder="Wu Feng {{boss}}">
        </label>
        <h4>Players</h4>
        <label ng-repeat="player in $ctrl.players | limitTo:$ctrl.data.playerNum" class="item-input-wrapper">
            <input ng-model="$ctrl.data.playerNames[player - 1]" type="text" placeholder="Player {{player}}">
        </label>
        <button ng-click="$ctrl.saveGame()" ui-sref="saved" class="button button-royal">Save</button>
    </ion-content>
    
</ion-view>