<ion-view>
    <ion-content class="has-header">
        <h2>Scoring</h2>
        <h4>Number of Players</h4>
        <div>
            <button class="button button-assertive">1</button>
            <button class="button button-assertive">2</button>
            <button class="button button-assertive">3</button>
            <button class="button button-assertive">4</button>
        </div>
        <h4>Difficulty</h4>
        <div>
            <button class="button button-assertive">Initiate</button>
            <button class="button button-assertive">Normal</button>
            <button class="button button-assertive">Nightmare</button>
            <button class="button button-assertive">Hell</button>
        </div>
        <h4>Victory</h4>
        <div>
            <button class="button button-assertive">Yes!</button>
            <button class="button button-assertive">No ☹</button>
        </div>
        <h4>Qi</h4>
        <label class="item-input-wrapper">
            <input type="text" placeholder="# Qi">
        </label>
        <h4>Remaining Ghost Cards</h4>
        <label class="item-input-wrapper">
            <input type="text" placeholder="# Cards">
        </label>
        <h4>Dead Taoists</h4>
        <label class="item-input-wrapper">
            <input type="text" placeholder="# Dead">
        </label>
        <h4>Haunted Tiles</h4>
        <label class="item-input-wrapper">
            <input type="text" placeholder="# Tiles">
        </label>
        <h4>Bosses Killed</h4>
        <label class="item-input-wrapper">
            <input type="text" placeholder="# Killed">
        </label>
        <button ui-sref="dataEntry2" class="button button-royal">Next</button>
    </ion-content>
</ion-view>