/* Empty. Add your own CSS if you like */
.ghosts{
    background: grey;
    color: whitesmoke; 
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
}
.title{
    margin-top:18px;
}
.centered{
    width:100%;
    text-align: center;
}
.button{
    margin: 5px;
    margin-bottom: 10px;
}
.ghost-input{
    background-color: lightgray;
    width: 40px;
}
.ghost-card{
    background-color: #444444;
    color: whitesmoke;
}